/* Преимущества */
.featurette {
    margin-bottom: 2rem;
}
.featurette-heading {
    letter-spacing: -0.05rem;
}

.featurette hr {
    visibility: visible;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
    .featurette hr {
        visibility: visible;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    .featurette hr {
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    .featurette hr {
        visibility: hidden;
    }
}
